* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  background-color: #b2ebf2;
  box-sizing: border-box;
}

/* Style the header */
.header {
  background-color: #ffff;
  padding: 20px;
  text-align: left;
  
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e5ffff;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 15px;
}

/* Left and right column */
.column.side {
  width: 25%;
}

/* Middle column */
.column.middle {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
  .footer{
      height: 700px;
  }
}

/* Style the footer */
.footer {
  background-color: #e5ffff;
  padding: 10px;
  text-align:justify;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
}

.footer-basic {
  padding:40px 0;
  position: absolute;
  bottom: 0;
  background-color:#e5ffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  /*opacity:6; */
  background-color: #ddd;
  color: black;
}

.footer-basic .social {
  text-align:justify;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
  background-color: #ddd;
  color: black;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}



/* This styles the xiRobotics3Darm container */
#xiRobotics3Darm {
  height: 600px;
  width: 600px;
  position: absolute;
  top: calc(50% - 250px); 
  right: 7%;
}

/* This styles the 3D object inserted in the xiRobotics3Darm container */
#xiRobotics3Darm model-viewer {
  height: 600px;
  width: 600px;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
}
 
.wrapper {
  height: 10vh;
  /* This part is important for centering the content */
  display: flex;
  align-items: center;
  justify-content: left;
  /* End center */
}

.wrapper a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
}


.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  color: 585858;
  position: relative;
  width: 300px;
  max-width: 90%;
  background: #17a2b8;
  text-transform: uppercase;
  padding: 1em 2em;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000000;
  text-decoration: none;
}




